<div class="container container-6 contact">
  <h1 class="page-title">联系方式</h1>

  <div class="contact-content content-scrollable">
    <div class="contacts">
      <a class="github" href="https://github.com/duxiaofeng-github" target="_blank">
        <i class="fa fa-github"></i>
      </a>

      <p>
        <i class="fa fa-phone"></i>
        13127780269
      </p>
      <p>
        <i class="fa fa-envelope"></i>
        <a href="mailto:me@imdxf.com">me@imdxf.com</a>
      </p>
      <p>
        <i class="fa fa-home"></i>
        <a href="http://www.imdxf.com" target="_blank">www.imdxf.com</a>
      </p>
    </div>

    <h2>
      不定时出没于以下网站
    </h2>

    <ul class="links">
      <li>
        <a href="http://stackoverflow.com" target="_blank">stackoverflow.com</a>
      </li>
      <li>
        <a href="http://segmentfault.com" target="_blank">segmentfault.com</a>
      </li>
      <li>
        <a href="http://div.io" target="_blank">div.io</a>
      </li>
      <li>
        <a href="http://www.w3cplus.com/">w3cplus.com</a>
      </li>
      <li>
        <a href="http://gold.xitu.io/">gold.xitu.io</a>
      </li>
      <li>
        <a href="http://www.html-js.com/">html-js.com</a>
      </li>
      <li>
        <a href="http://codepen.io/">codepen.io</a>
      </li>
    </ul>
  </div>
</div>