<div class="container container-5 idea">
  <h1 class="page-title">码农注释</h1>

  <div class="contact-content content-scrollable">
    <ul>
      <li><strong>玩过的语言：</strong>Js、Golang、Swift、Python、Shell、Ruby</li>
      <li><strong>想玩的语言：</strong>Java、C#、C++</li>
      <li><strong>发展的方向：</strong>希望往资深前端工程师发展，研究解决更深入的Web端架构、开发、测试、性能、安全等工程化问题。</li>
      <li><strong>理想的路径：</strong>T字型人才，纵向在前端领域有丰富的理论及实践经验，横向能够涉猎上下游各岗位部门。</li>
      <li><strong>擅长的领域：</strong>前端、Web端，能快速解决各种应用层问题。</li>
      <li><strong>不足的地方：</strong>算法、计算机理论</li>
      <li><strong>期望的环境：</strong>简单、高效、以人为本</li>
      <li><strong>追求的生活：</strong>有车有房，年薪百万，走向人生巅峰。</li>
      <li><strong>残酷的现实：</strong>没车没房，看着别人走向人生巅峰。</li>
    </ul>
  </div>
</div>