<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>杜晓峰的简历</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="./public/css/libs.min.css" rel="stylesheet" type="text/css">
    <link href="./public/css/app.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="bg js-bg">
      <%include src="welcome.html"%>
      <%include src="intro.html"%>
      <%include src="code.html"%>
      <%include src="chart.html"%>
      <%include src="tag.html"%>
      <%include src="idea.html"%>
      <%include src="contact.html"%>
    </div>
    <script type="text/javascript" src="./public/js/libs.min.js"></script>
    <script type="text/javascript" src="./public/js/app.min.js"></script>
  </body>
</html>