<div class="container container-1 intro">
  <h1 class="page-title">
    我的简介
  </h1>

  <div class="intro-content content-scrollable">
    <div class="info">
      <img class="avatar" src="./public/images/avatar.png">
      <p>姓名：杜晓峰</p>
      <p>现居地：上海</p>
      <p>职位：前端工程师</p>
    </div>

    <div class="introduction">
      <p>
        我叫杜晓峰，热爱前端，喜欢折腾，相信新技术是推进生产力发展的要素。技术偏向工程化，关注能够提高工作效率，工程质量的东西。
      </p>
      <p>平时没事会研究一些新技术，关注一些新的东西，在日新月异的世界里探索未来。</p>
      <p>
        喜欢自由的环境，喜欢有趣的人。工作不止是工作，更是一种理想。同事不止是同事，更是家人和朋友。有激情和目标，才能把一个事情做好。
      </p>
    </div>
  </div>
</div>