<div class="welcome container">
  <!-- <div class="screen-typing-1">您好</div>
  <div class="screen-typing-2">我是杜晓峰</div>
  <div class="screen-typing-3">很高兴遇见你</div>
  <div class="screen-typing-4">如果你想了解我</div>
  <div class="screen-typing-5">请跟我来</div> -->
  <div class="screen-avatar">
    <div class="spot spot-1 js-spot" data-spot="1"><i class="fa fa-quote-right"></i></div>
    <div class="spot spot-2 js-spot" data-spot="2"><i class="fa fa-code"></i></div>
    <div class="spot spot-3 js-spot" data-spot="3"><i class="fa fa-bar-chart"></i></div>
    <div class="spot spot-4 js-spot" data-spot="4"><i class="fa fa-tags"></i></div>
    <div class="spot spot-5 js-spot" data-spot="5"><i class="fa fa-picture-o"></i></div>
    <div class="spot spot-6 js-spot" data-spot="6"><i class="fa fa-link"></i></div>
    <div class="avatar-wrapper">
      <span class="background-wave max"></span>
      <span class="background-wave medium"></span>
      <span class="background-wave min"></span>
      <img class="avatar" src="./public/images/avatar.png">
    </div>
  </div>
</div>